* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #EFEFEF;
    font-family: "Poppins", sans-serif;
}

/* header */
.header {
    width: 80%;
    margin: 1% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-input {
    width: 500px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 4px;
}

.logo-and-input {
    display: flex;
    align-items: center;
}

.logo-and-input input[type="text"] {}

.logo-and-input img {
    width: 20px;
    height: 20px;
    margin-left: -30px;
}

.header-input {
    display: flex;
    align-items: center;
}

.header-icons {
    display: flex;
    margin-left: 30px;
}

.header-icons img {
    margin-right: 20px;
}

.header div {
    display: flex;
    align-items: center;
}

.profile-account {
    display: flex;
}

.account {
    display: flex;
    margin-left: -15px;
    align-items: flex-start;
    flex-direction: column;
}

/* tabs */
.tabs button {
    width: 120px;
    margin: 10px;
    padding: 8px 16px 8px 16px;
    border: 1px solid #A6A6A6;
    border-radius: 30px;
    cursor: pointer;
    color: #A6A6A6;
}

.tabs button:hover {
    background-color: #07689F;
    color: #FFFFFF;
}

.tabs {
    display: flex;
    margin: 1%;
    justify-content: center;
}

.horizontal-line {
    border-top: 1px solid #A6A6A6;
    margin: 10px 0;
}

/* Container */
.main-container {
    width: 80%;
    margin: 2% 10%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border: 2px solid black;
}

.main-container .left-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-container .right-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section {
    border-radius: 8px;
}

/* Hotel */
.hotel {
    width: 519px;
    height: 576px;
    display: flex;
    background-color: #FFFFFF;
}

.hotel .hotel-images {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.hotel-info {
    margin: 25px 20px;
    display: flex;
    flex-direction: column;
}

.hotel-info .reviews {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 8px;
}

.hotel-info .location {
    margin: 25px 0;
}

.location .location-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}


.location ul li {
    color: gray;
    font-size: small;
    line-height: 10px;
    margin: 10px 20px;
}

.services span {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
}

/* booking-details */
.booking-details {
    width: 519px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #FFFFFF;
}

.check-in-check-out {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 50px;
}

.check-in, .check-out {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-left: 1px solid #07689F;
    border-radius: 2px;
}

.booking-details ul {
    font-size: small;
    line-height: 20px;
    padding: 16px;
}

/* the-room */
.the-room {
    width: 519px;
    height: 273px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #FFFFFF;
}

.guest {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.cleanliness {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.room-buttons-1, .room-buttons-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room-buttons-1 button, .room-buttons-2 button {
    background-color: #E8F5E4;
    border: 1px solid #4C9839;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}


.room-buttons-1 button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
}

.room-buttons-2 button {
    width: 230px;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
}

/* payment */
.payment {
    width: 519px;
    height: 519px;
    display: flex;
    flex-direction: column;
    padding: 16px;

    background-color: #FFFFFF;
}

.price-summary {
    margin: 30px 0;
    border-bottom: 1px solid black;
    border-radius: 2px;
}

.price-summary .original-price, .price-summary .discount, .price-summary .total-payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 5px 0;
}

.cancellation {
    margin: 10px 0;
}

.pay-part {
    margin: 10px 0;
}

/* Hide the default radio button */
input[type="radio"] {
    width: 20px;
    height: 20px;
}

/* payment-method */
.payment-methods {
    width: 519px;
    height: 116px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #FFFFFF;
}

.payment-methods .payment-method {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    cursor: pointer;
}

/* user info */
.user-info {
    width: 642px;
    height: 280px;
    padding: 16px;

    background-color: #FFFFFF;
}

.user-info .image-name {
    display: flex;
    align-items: center;
    gap: 20px;
}

.image-name .name-history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.user-info .history-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #07689F;
    font-weight: 600;
    background-color: #FFFFFF;
    border: 1px solid #07689F;
    border-radius: 4px;
    width: 250px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}

.user-info .booking-for {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 24px 0;
}

.user-info .edit-div {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}

.user-info .edit-button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px;
    color: #07689F;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

/* full-name */
.full-name {
    width: 642px;
    height: 341px;
    padding: 16px;
    background-color: #FFFFFF;
}

.full-name .input-fullName {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 4px;
    margin: 10px 0;
}

.full-name .input-fullName input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 1%;
    border-radius: 2px;
    border: 1px solid gray;
}

/*email*/

.full-name .email-phone {
    display: flex;
    width: 90%;
    gap: 4px;
    margin: 20px 0;
}

.full-name .email-phone .email {
    width: 66.666%;
}

.full-name .email-phone .phone {
    width: 33.334%;
}

.full-name .email-phone .email input[type="email"] {
    width: 100%;
    height: 40px;
    margin: 4px 0;
    padding: 1%;
    border-radius: 2px;
    border: 1px solid gray;
}

.full-name .email-phone .phone input[type="tel"] {
    width: 100%;
    height: 40px;
    margin: 4px 0;
    padding: 1%;
    border-radius: 2px;
    border: 1px solid gray;
}

.full-name .assistance {
    width: 66.666%;
}

.full-name .option-region {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin: 20px 0;
}

.full-name .option-region .option, .full-name .option-region .region {
    display: flex;
    flex-direction: column;
    width: 33.334%;
}

.full-name .option-region .option select, .full-name .option-region .region input[type="text"] {
    width: 100%;
    height: 40px;
    margin: 4px 0;
    padding: 1%;
    border-radius: 2px;
    border: 1px solid gray;
}


/* add-story */
.add-stay {
    width: 642px;
    height: 1049px;
    background-color: #FFFFFF;
    background-color: pink;
}


/* bank-card-info */
.bank-card-info {
    width: 642px;
    height: 275px;
    padding: 16px;
    background-color: #FFFFFF;
}

.bank-card-info .card-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.bank-card-info .card-info .card-holder-div {
    width: 30%;
}

.bank-card-info .card-info .card-number-div {
    width: 40%;
}

.bank-card-info .card-info .expiry-date-div {
    width: 12%;
}

.bank-card-info .card-info .cvv-div {
    width: 8%;
}

.bank-card-info .card-info input[type="text"] {
    width: 100%;
    height: 40px;
    margin: 4px 0;
    padding: 2%;
    border-radius: 2px;
    border: 1px solid gray;
}

.bank-card-info .bank-buttons {
    width: 100%;
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bank-card-info .bank-buttons .save-button {
    width: 40%;
    height: 48px;
    background-color: #FFFFFF;
    color: #07689F;
    border: 1px solid #07689F;
    border-radius: 4px;
    font-weight: 800;
    cursor: pointer;
}

.bank-card-info .bank-buttons .payment-button {
    width: 40%;
    height: 48px;
    background-color: #07689F;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-weight: 800;
    cursor: pointer;
}