* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #EFEFEF;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    font-size: 16px;
    /* Base font size */
}

/* header */
.header {
    width: 80%;
    margin: 1% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-input {
    width: 35rem;
    height: 2.5rem;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.logo-and-input {
    display: flex;
    align-items: center;
}

.logo-and-input img {
    width: 1.4rem;
    height: 1.4rem;
    margin-left: -2rem;
    cursor: pointer;
}

.header-input {
    display: flex;
    align-items: center;
}

.header-icons {
    display: flex;
    gap: 1.5rem;
}

.header-icons img {
    cursor: pointer;
}

.header div {
    display: flex;
    align-items: center;
}

.profile-account {
    display: flex;
    gap: 0.5rem;
}

.account {
    display: flex;
    flex-direction: column;
}

/* tabs */
.tabs {
    display: flex;
    margin: 2% 0;
    justify-content: center;
    gap: 1rem;
}

.tabs button {
    width: 8%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid #A6A6A6;
    border-radius: 2rem;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #A6A6A6;
}

.tabs button:hover {
    background-color: #07689F;
    color: #FFFFFF;
}


/* Container */
.main-container {
    width: 80%;
    margin: 2% 10%;
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
}


.main-container .left-column {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    justify-content: space-between;
}

.main-container .right-column {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    justify-content: space-between;
}

section {
    border-radius: 0.5rem;
}

/* Hotel */
.hotel {
    width: 32.4375rem;
    height: auto;
    display: flex;
    background-color: #FFFFFF;
}

.hotel .hotel-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.hotel-info {
    margin: 1.5625rem 1.25rem;
    display: flex;
    flex-direction: column;
}

.hotel-info .reviews {
    display: flex;
    align-items: center;
    margin: 0.625rem 0;
    gap: 0.5rem;
}

.hotel-info .location {
    margin: 1.5625rem 0;
}

.location .location-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}


.location ul li {
    color: #565656;
    font-size: 0.875rem;
    line-height: 0.625rem;
    margin: 0.625rem 1.25rem;
}

.services span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.625rem 0;
}

/* booking-details */
.booking-details {
    width: 32.4375rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #FFFFFF;
}

.check-in-check-out {
    display: flex;
    align-items: center;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    gap: 3.125rem;
}

.check-in, .check-out {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding: 0.625rem;
    border-left: 0.0625rem solid #07689F;
    border-radius: 0.125rem;
}

.booking-details ul {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 1rem;
}

/* the-room */
.the-room {
    width: 32.4375rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #FFFFFF;
}

.guest {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.25rem;
}

.cleanliness {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.25rem;
}

.room-buttons-1, .room-buttons-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room-buttons-1 button, .room-buttons-2 button {
    background-color: #E8F5E4;
    border: 0.0625rem solid #4C9839;
    border-radius: 0.25rem;
    justify-content: center;
    align-items: center;
}


.room-buttons-1 button {
    width: 9.375rem;
    height: 2.5rem;
    margin-top: 1.25rem;
    padding: 0.625rem;
}

.room-buttons-2 button {
    width: 14.375rem;
    height: 2.5rem;
    margin-top: 1.25rem;
    padding: 0.625rem;
}

/* payment */
.payment {
    width: 32.4375rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #FFFFFF;
}

.price-summary {
    margin: 1.875rem 0;
    border-bottom: 0.0625rem solid black;
    border-radius: 0.125rem;
}

.price-summary .original-price, .price-summary .discount, .price-summary .total-payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem 0 0.3125rem 0;
}

.cancellation {
    margin: 0.625rem 0;
}

.pay-part {
    margin: 0.625rem 0;
}

/* default radio button */
input[type="radio"] {
    width: 1.4rem;
    height: 1.4rem;
}

/* payment-method */
.payment-methods {
    width: 32.4375rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #FFFFFF;
}

.payment-methods .payment-method {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.625rem 0;
    cursor: pointer;
}

.payment-method div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* user info */
.user-info {
    width: 40.125rem;
    height: auto;
    padding: 1rem;
    background-color: #FFFFFF;
}

.user-info .image-name {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.image-name .name-history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6.25rem;
}

.user-info .history-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #07689F;
    font-weight: 600;
    background-color: #FFFFFF;
    border: 0.0625rem solid #07689F;
    border-radius: 0.25rem;
    width: 15.625rem;
    height: 3.125rem;
    padding: 0.625rem;
    cursor: pointer;
}

.user-info .booking-for {
    display: flex;
    align-items: center;
    gap: 0.875rem;
    margin: 1.5rem 0;
}

.user-info .edit-div {
    display: flex;
    justify-content: flex-end;
    margin: 1.25rem 0;

}

.user-info .edit-button {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    color: #07689F;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

/* full-name */
.full-name {
    width: 40.125rem;
    height: auto;
    padding: 1rem;
    background-color: #FFFFFF;
}

.full-name .input-fullName {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 0.25rem;
    margin: 0.625rem 0;
}

.full-name .input-fullName input[type="text"] {
    width: 100%;
    height: 2.5rem;
    padding: 0.0625rem;
    border-radius: 0.125rem;
    border: 0.0625rem solid #565656;
}

/*email*/

.full-name .email-phone {
    display: flex;
    width: 90%;
    gap: 0.25rem;
    margin: 1.25rem 0;
}

.full-name .email-phone .email {
    width: 66.666%;
}

.full-name .email-phone .phone {
    width: 33.334%;
}

.full-name .email-phone .email input[type="email"] {
    width: 100%;
    height: 2.5rem;
    margin: 0.25rem 0;
    padding: 0.0625rem;
    border-radius: 0.125rem;
    border: 0.0625rem solid #565656;
}

.full-name .email-phone .phone input[type="tel"] {
    width: 100%;
    height: 2.5rem;
    margin: 0.25rem 0;
    padding: 0.0625rem;
    border-radius: 0.125rem;
    border: 0.0625rem solid #565656;
}

.full-name .assistance {
    width: 66.666%;
}

.full-name .option-region {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.full-name .option-region .option, .full-name .option-region .region {
    display: flex;
    flex-direction: column;
    width: 33.334%;
}

.full-name .option-region .option select, .full-name .option-region .region input[type="text"] {
    width: 100%;
    height: 2.5rem;
    margin: 0.25rem 0;
    padding: 0.0625rem;
    border-radius: 0.125rem;
    border: 0.0625rem solid #565656;
}


/* add-stay */
.add-stay {
    width: 40.125rem;
    height: auto;
    padding: 1rem;
    background-color: #FFFFFF;
}

input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
}

.textarea-container {
    position: relative;
    display: inline-block;
}

textarea {
    padding: 0.625rem;
    width: 100%;
    resize: none;
}

.icon {
    position: absolute;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
}


/* bank-card-info */
.bank-card-info {
    width: 40.125rem;
    height: auto;
    padding: 1rem;
    background-color: #FFFFFF;
}

.bank-card-info .card-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem 0;
}

.bank-card-info .card-info .card-holder-div {
    width: 30%;
}

.bank-card-info .card-info .card-number-div {
    width: 40%;
}

.bank-card-info .card-info .expiry-date-div {
    width: 12%;
}

.bank-card-info .card-info .cvv-div {
    width: 8%;
}

.bank-card-info .card-info input[type="text"] {
    width: 100%;
    height: 2.5rem;
    margin: 0.25rem 0;
    padding: 0.125rem;
    border-radius: 0.125rem;
    border: 0.0625rem solid #565656;
}

.bank-card-info .bank-buttons {
    width: 100%;
    margin: 0.25rem 0 0.625rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bank-card-info .bank-buttons .save-button {
    width: 40%;
    height: 3rem;
    background-color: #FFFFFF;
    color: #07689F;
    border: 0.0625rem solid #07689F;
    border-radius: 0.25rem;
    font-weight: 800;
    cursor: pointer;
}

.bank-card-info .bank-buttons .payment-button {
    width: 40%;
    height: 3rem;
    background-color: #07689F;
    color: #FFFFFF;
    border: 0.0625rem solid #FFFFFF;
    border-radius: 0.25rem;
    font-weight: 800;
    cursor: pointer;
}



/* easy-set24-apps */
.easy-set24-apps {
    width: 80%;
    margin: 4% 10% 0 10%;
    display: flex;
    justify-content: space-between;
}

.easy-set24-apps .easy-set24-text {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.easy-set24-apps .easy-set24-img {
    width: 18%;
    display: flex;
    flex-direction: column;
}

.easy-set24-apps .easy-set24-img .apple {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    gap: 10%;
}

.easy-set24-apps .easy-set24-img .google {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    gap: 10%;
}


/* about-us */
.about-us {
    width: 80%;
    margin: 4% 10%;
    display: flex;
    justify-content: space-between;
}

.about-us div {
    display: flex;
}

.about-us div ul li {
    list-style: none;
    line-height: 200%;
    color: #565656;
}

/* pay-social */
.pay-social {
    width: 80%;
    margin: 4% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pay-social .pay-img {
    width: 30%;
    display: flex;
    gap: 4%;
}

.pay-social .social-img {
    width: 12%;
    display: flex;
    gap: 20%;
}

.pay-social .footer-email {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.pay-social .footer-email div #footer-input-email {
    width: 80%;
    height: 200%;
    padding: 3%;
    border: 1px solid #565656;
    border-radius: 4px 0 0 4px;
}

.pay-social .footer-email div #subscribe-button {
    width: 30%;
    height: 100%;
    padding: 3% 3%;
    border: 1px solid #565656;
    border-radius: 0 4px 4px 0;
    background-color: #07689F;
    color: #FFFFFF;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
}

footer .footer-div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    background-color: #D9D9D9;
    padding: 1% 0;
}

footer .footer-div div {
    display: flex;
    align-items: center;
    gap: 1%;
}






/* For mobile devices */
@media only screen and (max-width: 767px) {

    body {
        font-size: calc(14px + 0.5vw);
    }

    .header {
        width: 100vw;
        margin: 1%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .profile-account .account {
        display: none;
    }

    #header-input {
        display: none;
        width: 40%;
    }

    .logo-and-input {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .header-icons {
        display: none;
        gap: 0.5rem;
    }

    .tabs {
        display: none;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .tabs button {
        width: auto;
    }

    /* Container */
    .main-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 2% 5%;
    }

    .main-container .left-column,
    .main-container .right-column {
        width: 90%;
        margin: 0 2%;
        padding: 2%;
    }

    /* Hotel */
    .hotel {
        width: 100%;
    }

    .hotel-images {
        width: 30%;
    }

    .hotel-info {
        width: 100%;
    }

    .hotel-info .services {
        display: none;
    }

    .hotel-info .location ul li {
        line-height: 1.2rem;
    }

    /* booking-details */
    .booking-details {
        width: 100%;
    }

    /* booking-details */
    .booking-details {
        width: 100%;
    }

    /* the-room */
    .the-room {
        width: 100%;
    }

    .room-buttons-1,
    .room-buttons-2 {
        flex-wrap: wrap;
    }

    .room-buttons-1 button,
    .room-buttons-2 button {
        width: 48%;
        margin-top: 10px;
    }

    /* payment */
    .payment {
        width: 100%;
    }

    /* payment-method */
    .payment-methods {
        width: 100%;

        display: flex;
        background-color: #FFFFFF;
    }

    .payment-methods .payment-method {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        cursor: pointer;
    }

    .payment-methods .payment-method div {
        margin: 2% 0;
        display: flex;
        justify-content: space-between;
    }

    /* user info */
    .user-info {
        width: 100%;
    }

    .image-name {
        display: flex;
        align-self: flex-end;
    }

    .name-history div {
        display: none;
    }

    .name-history {
        height: 4rem;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    /* full-name */
    .full-name {
        width: 100%;
    }

    .full-name .input-fullName {
        flex-direction: column;
        width: 100%;
    }

    .full-name .email-phone {
        flex-direction: column;
        width: 100%;
    }

    .full-name .email-phone .email,
    .full-name .email-phone .phone {
        width: 100%;
    }

    .full-name .assistance {
        width: 100%;
    }

    .full-name .option-region {
        flex-direction: column;
        width: 100%;
    }

    .full-name .option-region .option,
    .full-name .option-region .region {
        width: 100%;
    }

    /* add-stay */
    .add-stay {
        width: 100%;
    }

    /* bank-card-info */
    .bank-card-info {
        width: 100%;
    }

    .bank-card-info .card-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .bank-card-info .card-info .card-holder-div,
    .bank-card-info .card-info .card-number-div,
    .bank-card-info .card-info .expiry-date-div,
    .bank-card-info .card-info .cvv-div {
        width: 100%;
        margin-bottom: 10px;
    }

    .bank-card-info .bank-buttons {
        flex-direction: column;
        align-items: stretch;
    }

    .bank-card-info .bank-buttons .save-button,
    .bank-card-info .bank-buttons .payment-button {
        width: 100%;
        margin-bottom: 10px;
    }


    /* Easy Set24 Apps */
    .easy-set24-apps {
        flex-direction: column;
        align-items: flex-start;
    }

    .easy-set24-apps .easy-set24-text,
    .easy-set24-apps .easy-set24-img {
        width: 100%;
    }

    /* About Us */
    .about-us {
        flex-wrap: wrap;
    }

    .about-us div {
        width: 50%;
        margin-bottom: 20px;
    }

    /* Pay Social */
    .pay-social {
        flex-direction: column;
        align-items: flex-start;
    }

    .pay-social .pay-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10%;
    }

    .pay-social .social-img {
        display: flex;
        gap: 1rem;
        margin: 0.5rem 0;

    }

    .pay-social .pay-img img,
    .pay-social .social-img img {
        margin: 0.5rem 0;
    }

    .pay-social .footer-email {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }

    .pay-social .footer-email>div {
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
    }

    .pay-social .footer-email input {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    /* Footer */
    footer {
        width: 100vw;
    }

    footer .footer-div {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    footer .footer-div div {
        width: auto;
        height: auto;
        margin-bottom: 2%;
        text-align: center;
    }
}


/* For tablet devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    body {
        font-size: calc(16px + 0.4vw);
    }

    .header {
        width: 100vw;
        margin: 0 2%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .profile-account .account {
        display: none;
    }

    #header-input {
        width: 60%;
    }

    .logo-and-input {
        justify-content: center;
        width: 100%;
    }

    .header-icons {
        display: none;
        gap: 0.5rem;
    }

    .tabs {
        width: 100vw;
        text-align: center;
    }

    .tabs button {
        width: auto;
        padding: 6px 12px;
        margin: 5px;
    }

    /* Container */
    .main-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 2% 5%;
    }

    .main-container .left-column,
    .main-container .right-column {
        width: 90%;
        margin: 0 2%;
        padding: 2%;
    }

    /* Hotel */
    .hotel {
        width: 100%;
    }

    /* booking-details */
    .booking-details {
        width: 100%;
    }

    /* the-room */
    .the-room {
        width: 100%;
    }

    /* payment */
    .payment {
        width: 100%;
    }

    /* payment-methods */
    .payment-methods {
        width: 100%;
    }

    /* user info */
    .user-info {
        width: 100%;
    }

    /* full-name */
    .full-name {
        width: 100%;
    }

    .full-name .input-fullName {
        width: 100%;
    }

    .full-name .email-phone {
        width: 100%;
    }

    .full-name .option-region {
        width: 100%;
    }

    /* add-stay */
    .add-stay {
        width: 100%;
    }

    /* bank-card-info */
    .bank-card-info {
        width: 100%;
    }

    /* Easy Set24 Apps */
    .easy-set24-apps {
        width: 90%;
        justify-content: space-between;
        margin: 4% 2% 0 2%;
    }

    /* About Us */
    .about-us {
        width: 100vw;
        margin: 4% 2%;
    }

    /* Pay Social */
    .pay-social {
        width: 75%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .pay-social .pay-img,
    .pay-social .social-img,
    .pay-social .footer-email {
        width: 60%;
        margin-bottom: 2rem;
    }

    /* Footer */
    footer .footer-div {
        width: 100%;
        text-align: center;
    }
}