* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #EFEFEF;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    font-size: 16px;
    /* Base font size */
}

/* header */
.header {
    width: 80%;
    margin: 1% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-input {
    width: 500px;
    height: 40px;
    border: 1px solid #565656;
    border-radius: 4px;
}

.header-icons {
    display: flex;
    margin-left: 30px;
}

.header-icons img {
    margin-right: 2rem;
}

.header div {
    display: flex;
    align-items: center;
}

.profile-account {
    display: flex;
}

.account {
    display: flex;
    margin-left: -15px;
    align-items: flex-start;
    flex-direction: column;
}

/* Container */
.main-container {
    width: 80%;
    margin: 2% 10%;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;

    height: 700px;
}

.main-container .left-column {
    display: flex;
    flex-direction: column;
    padding: 3%;
    width: 45%;
    height: auto;
}

.main-container .right-column {
    display: flex;
    flex-direction: column;
    padding: 3%;
    width: 48%;
    height: auto;
}

/* flight-card */
.flight-card {
    margin: 6% 0;
}

.blue-color {
    background-color: #07689F;
    color: #F9F9F9;
    font-size: medium;
    font-weight: 700;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    border-radius: 8px 8px 0 0;

}

.flight-card .img-container {
    position: relative;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
}


.flight-card .img-container img {
    border-radius: 0 0 8px 8px;
}

.img-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, rgba(12, 12, 12, 0), #0C0C0CCC);
    border-radius: 0 0 8px 8px;
}

.flight-details {
    width: 100%;
    padding: 2%;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    align-self: center;
    z-index: 1;
}


.payment-method {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4% 0;
    cursor: pointer;
}

/* default radio button */
input[type="radio"] {
    width: 1.4rem;
    height: 1.4rem;
}

.firstName-lastName-phone input, .card-details input {
    width: 100%;
    height: 2.5em;
    margin: 4px 0;
    padding: 2%;
    border-radius: 2px;
    border: 1px solid #565656;
}


.firstName-lastName-phone {
    display: flex;
    gap: 8%;
    margin: 2% 0;
}

.firstName-lastName {
    display: flex;
    gap: 4%;
}

.card-details {
    display: flex;
    justify-content: space-between;
    margin: 2% 0;

}

.card-details .card-number {
    width: 40%;
}

.card-details .cvv {
    width: 20%;
}

.card-details .exp-date {
    width: 20%;
}


.bank-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0;
}

.save-button {
    width: 15rem;
    height: 2.5rem;
    background-color: #FFFFFF;
    color: #07689F;
    border: 1px solid #07689F;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
}

.confirm-button {
    width: 15rem;
    height: 2.5rem;
    background-color: #07689F;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
}


/* easy-set24-apps */
.easy-set24-apps {
    width: 80%;
    margin: 4% 10% 0 10%;
    display: flex;
    justify-content: space-between;
}

.easy-set24-apps .easy-set24-text {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.easy-set24-apps .easy-set24-img {
    width: 18%;
    display: flex;
    flex-direction: column;
}

.easy-set24-apps .easy-set24-img .apple {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    gap: 10%;
}

.easy-set24-apps .easy-set24-img .google {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    gap: 10%;
}


/* about-us */
.about-us {
    width: 80%;
    margin: 4% 10%;
    display: flex;
    justify-content: space-between;
}

.about-us div {
    display: flex;
}

.about-us div ul li {
    list-style: none;
    line-height: 200%;
    color: #565656;
}

/* pay-social */
.pay-social {
    width: 80%;
    margin: 4% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pay-social .pay-img {
    width: 30%;
    display: flex;
    gap: 4%;
}

.pay-social .social-img {
    width: 12%;
    display: flex;
    gap: 20%;
}

.pay-social .footer-email {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.pay-social .footer-email div #footer-input-email {
    width: 80%;
    height: 200%;
    padding: 3%;
    border: 1px solid #565656;
    border-radius: 4px 0 0 4px;
}

.pay-social .footer-email div #subscribe-button {
    width: 30%;
    height: 100%;
    padding: 3% 3%;
    border: 1px solid #565656;
    border-radius: 0 4px 4px 0;
    background-color: #07689F;
    color: #FFFFFF;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
}

footer .footer-div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    background-color: #D9D9D9;
    padding: 1% 0;
}

footer .footer-div div {
    display: flex;
    align-items: center;
    gap: 1%;
}



/* For mobile devices */
@media only screen and (max-width: 767px) {

    body {
        font-size: calc(14px + 0.5vw);
    }

    /* Header */
    .header {
        width: 90%;
        margin: 5% 2%;
        align-items: center;
    }

    .profile-account .account {
        display: none;
    }

    .header-icons {
        margin-left: 0;
        margin-top: 10px;
    }

    .profile-account {
        margin-top: 10px;
    }

    /* Container */
    .main-container {
        width: 90%;
        margin: 5% auto;
        flex-direction: column;
        height: auto;
    }

    .main-container .left-column,
    .main-container .right-column {
        width: 100%;
    }

    /* Flight Card */
    .blue-color {
        font-size: small;
        height: 3rem;
    }

    .flight-details {
        padding: 4%;
    }

    /* Payment Method */
    .payment-method {
        flex-direction: column;
        align-items: flex-start;
    }

    .firstName-lastName-phone {
        flex-direction: column;
        gap: 10px;
    }

    .card-details {
        flex-direction: column;
        gap: 10px;
    }

    .card-details .card-number,
    .card-details .cvv,
    .card-details .exp-date {
        width: 100%;
    }

    .bank-buttons {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    /* About Us */
    .about-us {
        flex-wrap: wrap;
    }

    .about-us div {
        width: 50%;
        margin-bottom: 20px;
    }

    /* Pay Social */
    .pay-social {
        flex-direction: column;
        align-items: flex-start;
    }

    .pay-social .pay-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10%;
    }

    .pay-social .social-img {
        display: flex;
        gap: 1rem;
        margin: 0.5rem 0;

    }

    .pay-social .pay-img img,
    .pay-social .social-img img {
        margin: 0.5rem 0;
    }

    .pay-social .footer-email {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }

    .pay-social .footer-email>div {
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
    }

    .pay-social .footer-email input {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    /* Footer */
    footer {
        width: 100vw;
    }

    footer .footer-div {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    footer .footer-div div {
        width: auto;
        height: auto;
        margin-bottom: 2%;
        text-align: center;
    }
}



/* For tablet devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    body {
        font-size: calc(16px + 0.4vw);
    }

    .header {
        width: 100vw;
        margin: 0 2%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .profile-account .account {
        display: none;
    }

    #header-input {
        width: 60%;
    }

    .logo-and-input {
        justify-content: center;
        width: 100vw;
    }

    .header-icons {
        display: none;
        gap: 0.5rem;
    }

    /* Container */
    .main-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2% auto;
        height: auto;
    }

    .main-container .left-column,
    .main-container .right-column {
        width: 75%;
        margin: 4% 2%;
        padding: 2%;
    }

    /* Flight Card */
    .blue-color {
        font-size: medium;
        height: 4rem;
    }

    /* Payment Method */
    .payment-method {
        flex-direction: row;
        align-items: center;
    }

    .firstName-lastName-phone {
        flex-direction: row;
        gap: 4%;
    }

    .card-details {
        flex-direction: row;
        justify-content: space-between;
    }

    .card-details .card-number {
        width: 45%;
    }

    .card-details .cvv {
        width: 20%;
    }

    .card-details .exp-date {
        width: 25%;
    }

    .bank-buttons {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    /* About Us */
    .about-us {
        width: 100vw;
        margin: 4% 2%;
    }

    /* Pay Social */
    .pay-social {
        width: 75%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .pay-social .pay-img,
    .pay-social .social-img,
    .pay-social .footer-email {
        width: 60%;
        margin-bottom: 2rem;
    }

    /* Footer */
    footer .footer-div {
        width: 100%;
        text-align: center;
    }
}